.rest-stting-element__btn, .rest-element__btn {
	display: inline-block;	
	box-sizing: border-box;
	margin: 0 10px 10px 0;
	border: 1px solid transparent;  
	border-radius: 3px;
	height: 25px;
	line-height: 10px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #798b92;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
}

.rest-element__btn:hover {
	border-color: transparent;
	background-color: #4986a1;
	color: #fff;
}

.rest-stting-element__btn:hover {
	border-color: transparent;
	background-color: #4986a1;
	color: #fff;
}
