@import 'nouislider/dist/nouislider.css';

.noUi-target {
	margin: 15px auto;
}

.slider__container {
	
}

.slider__container span {
	display: block;
	margin-left: 30px;

}
.noUi-connect {
    background: #1a73e8;
}


.noUi-touch-area, .noUi-handle {
	cursor: pointer;
}